# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.a
*.la
*.lib

# Executables
*.exe
*.out
*.app

# Scons dblite file
.sconsign.dblite

# External headers and libs
src/external

# Folders
release

# Me executable files
kyrin_master
kyrin_slavenode
kyrin_chunk
kyrin_keycenter
test_http_client
test_lexicographically_helper
test_protobuf
test_sha1
test_rsa
test_spinlock

# Me protobuf
*.pb.*
*_pb2.py*

# Vim swap
*.swp

# Python
*.pyc
