# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.a
*.la
*.lib

# Executables
*.exe
*.out
*.app

# Scons dblite file
.sconsign.dblite

# External headers and libs
src/external

# Folders
release

# Me executable files
kyrin_master

# Me protobuf
*.pb.*
